/* ROOT COLORS */
:root{
  /* Palette Colors*/
  --palette-logo-purple: #7749CD;
  --palette-light-purple: #9B89B3;
  --palette-bright-purple: #A67CE4;
  --palette-white-purple: #FEF6FF;
  --palette-tan: #D5CABD;
  --palette-dark-grey: #4B4453;
  --palette-light-grey:#B0A8B9;
  --palette-salmon:#D99585;
 
  /* Other Colors Defined */
  --background-light-color: white;
  --background-dark-color: #121212;
  --lightmode-text-color: #121212;
  --darkmode-text-color:white;
  --add-button-color: rgb(124, 201, 124);
  --edit-button-color: rgb(245, 245, 103);
  --delete-button-color: rgb(240, 70, 70);
  --like-button-color: rgb(200, 100, 200);
  --comment-button-color: rgb(255, 179, 37);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
